In [21]:
import json

# The issue is that json.loads() expects a JSON string, not a file path
# We need to open the file and read its contents first
with open("data/sources.json", "r") as file:
    data = json.load(file)  # json.load() reads directly from a file object
    
data

[{'id': '1',
  'name': 'total private construction',
  'varname': 'res',
  'fredcode': 'TLPRVCONS',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Census Bureau',
  'release': 'construction spending',
  'frequency': 'monthly',
  'units': 'million of dollars, seasonally adjusted annual rate',
  'tables': None,
  'description': 'Monthly series for total private construction spending.',
  'start_date': '1993-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Census Bureau.'},
 {'id': '2',
  'name': 'total private residential construction',
  'varname': 'priv',
  'fredcode': 'PRRESCONS',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Census Bureau',
  'release': 'construction spending',
  'frequency': 'monthly',
  'units': 'million of dollars, seasonally adjusted annual rate',
  'tables': None,
  'description': 'Monthly series for total private residential construction spending.',
  'start_date': '1993-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Census Bureau.'},
 {'id': '3',
  'name': 'manufacturers shipments: nondefense capital goods',
  'varname': 'andevs_2',
  'fredcode': 'ANDENO',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Census Bureau',
  'release': "manufacturer's shipments, inventories, and orders (M3) Spending",
  'frequency': 'monthly',
  'units': 'million of dollars',
  'tables': None,
  'description': "Monthly series for manufacturers' shipments of nondefense capital goods.",
  'start_date': '1992-02-01',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Census Bureau.'},
 {'id': '4',
  'name': 'exports of goods and services, balance of payments basis',
  'varname': 'exports',
  'fredcode': 'BOPTEXP',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Bureau of Economic Analysis',
  'release': 'U. S. International Trade in Goods and Services',
  'frequency': 'monthly',
  'units': 'million of dollars, seasonally adjusted',
  'tables': None,
  'description': 'Monthly exports of goods and services on a balance of payments basis.',
  'start_date': '1992-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Bureau of Economic Analysis.'},
 {'id': '5',
  'name': 'imports of goods and services, balance of payments basis',
  'varname': 'imports',
  'fredcode': 'BOPTIMP',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Bureau of Economic Analysis',
  'release': 'U. S. International Trade in Goods and Services',
  'frequency': 'monthly',
  'units': 'million of dollars, seasonally adjusted',
  'tables': None,
  'description': 'Monthly imports of goods and services on a balance of payments basis.',
  'start_date': '1992-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Bureau of Economic Analysis.'},
 {'id': '6',
  'name': 'total public construction spending',
  'varname': 'con_gov',
  'fredcode': 'TLPBLCONS',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Bureau',
  'release': 'Construction spending',
  'frequency': 'monthly',
  'units': 'million of dollars, seasonally adjusted annual rate',
  'tables': None,
  'description': 'Monthly series for total public construction spending.',
  'start_date': '1993-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data source labeled as U. S. Bureau; verify actual agency if necessary.'},
 {'id': '7',
  'name': 'manufactures sales',
  'varname': 'amtmvs_2',
  'fredcode': 'MNFCTRSMSA',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Census Bureau',
  'release': 'Manufacturing and Trade Inventories and Sales',
  'frequency': 'monthly',
  'units': 'million of dollars, seasonally adjusted',
  'tables': None,
  'description': "Monthly series for manufacturers' sales, as part of inventories and sales data.",
  'start_date': '1992-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Census Bureau.'},
 {'id': '8',
  'name': "manufactures' new orders: manufacturing excluding defense",
  'varname': 'amxdvs_2',
  'fredcode': 'AMXDNO',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Census Bureau',
  'release': "Manufacturer's Shipments, Inventories, and Orders (M3) Survey",
  'frequency': 'monthly',
  'units': 'million of dollars, seasonally adjusted',
  'tables': None,
  'description': 'Monthly series for new orders in manufacturing, excluding defense.',
  'start_date': '1992-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Census Bureau.'},
 {'id': '9',
  'name': 'personal consumption expenditures',
  'varname': 'pce',
  'fredcode': 'PCE',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Bureau of Economic Analysis',
  'release': 'Personal Income and Outlays',
  'frequency': 'monthly',
  'units': 'billion of dollars, seasonally adjusted annual rate',
  'tables': None,
  'description': 'Monthly series for personal consumption expenditures.',
  'start_date': '1959-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Bureau of Economic Analysis.'},
 {'id': '10',
  'name': 'personal consumption expenditures: chain-type price index',
  'varname': 'pcepi',
  'fredcode': 'PCEPI',
  'link': 'https://fred.stlouisfed.org/series/',
  'source': 'U. S. Bureau of Economic Analysis',
  'release': 'Personal Income and Outlays',
  'frequency': 'monthly',
  'units': 'billion of dollars, seasonally adjusted annual rate',
  'tables': None,
  'description': 'Monthly series for the chain-type price index of personal consumption expenditures.',
  'start_date': '1959-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Data from U. S. Bureau of Economic Analysis.'},
 {'id': '11',
  'name': 'Change in Private Inventories by Industry',
  'varname': 'inv_ch_1',
  'fredcode': None,
  'link': 'https://apps.bea.gov/iTable/?reqid=19&step=3&isuri=1&nipa_table_list=164&categories=survey#eyJhcHBpZCI6MTksInN0ZXBzIjpbMSwyLDMsM10sImRhdGEiOltbImNhdGVnb3JpZXMiLCJVbmRlcmx5aW5nIl0sWyJOSVBBX1RhYmxlX0xpc3QiLCIyMDgxIl0sWyJGaXJzdF9ZZWFyIiwiMTk2NyJdLFsiTGFzdF9ZZWFyIiwiMTk5NyJdLFsiU2NhbGUiLCItNiJdLFsiU2VyaWVzIiwiTSJdXX0=',
  'source': 'BEA: NIPA tables',
  'table': '5.7.5AM1',
  'time_window': '1967-1997',
  'description': 'Monthly data on the change in private inventories by industry for the period 1967-1997 (SIC-based).',
  'start_date': '1967-01-31',
  'end_date': '1999-12-31',
  'last_updated': 'September 28, 2023',
  'notes': 'Uses underlying detail from BEA NIPA Table 5.7.5AM1.'},
 {'id': '12',
  'name': 'Change in Private Inventories by Industry',
  'varname': 'inv_ch_2',
  'fredcode': None,
  'link': 'https://apps.bea.gov/iTable/?reqid=19&step=3&isuri=1&nipa_table_list=164&categories=survey#eyJhcHBpZCI6MTksInN0ZXBzIjpbMSwyLDMsM10sImRhdGEiOltbImNhdGVnb3JpZXMiLCJVbmRlcmx5aW5nIl0sWyJOSVBBX1RhYmxlX0xpc3QiLCIyMDg3Il0sWyJGaXJzdF9ZZWFyIiwiMTk5NyJdLFsiTGFzdF9ZZWFyIiwiMjAyNCJdLFsiU2NhbGUiLCItNiJdLFsiU2VyaWVzIiwiTSJdXX0=',
  'source': 'BEA: NIPA tables',
  'table': '5.7.5BM1',
  'time_window': '1997-2025',
  'description': 'Monthly data on the change in private inventories by industry for the period 1997-2025 (NAICS-based).',
  'start_date': '1997-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': 'Uses underlying detail from BEA NIPA Table 5.7.5BM1.'},
 {'id': '13',
  'name': 'Wage and Salary Disbursements by Industry, Government, Government, NIPA',
  'varname': 'wages_g_1',
  'fredcode': None,
  'link': 'https://apps.bea.gov/iTable/?isuri=1&reqid=19&step=4&categories=flatfiles&nipa_table_list=1#eyJhcHBpZCI6MTksInN0ZXBzIjpbMSwyLDNdLCJkYXRhIjpbWyJjYXRlZ29yaWVzIiwiU3VydmV5Il0sWyJuaXBhX3RhYmxlX2xpc3QiLCI3NyJdXX0=',
  'source': 'BEA: NIPA tables',
  'tables': '2.7A. Wages and Salaries by Industry, Monthly',
  'time_window': '1959-2000',
  'description': 'Monthly series of wage and salary disbursements by industry (Government) from 2001 to 2025.',
  'start_date': '1959-01-30',
  'end_date': '2000-12-31',
  'last_updated': '9999',
  'notes': None},
 {'id': '14',
  'name': 'Wage and Salary Disbursements by Industry, Government, Government, NIPA',
  'varname': 'wages_g_2',
  'fredcode': None,
  'link': 'https://apps.bea.gov/iTable/?isuri=1&reqid=19&step=4&categories=flatfiles&nipa_table_list=1#eyJhcHBpZCI6MTksInN0ZXBzIjpbMSwyLDMsM10sImRhdGEiOltbImNhdGVnb3JpZXMiLCJVbmRlcmx5aW5nIl0sWyJOSVBBX1RhYmxlX0xpc3QiLCIyMDgwMSJdLFsiRmlyc3RfWWVhciIsIjIwMjEiXV0=',
  'source': 'BEA: NIPA tables',
  'tables': '2.7B. Wages and Salaries by Industry, Monthly',
  'time_window': '2001-2025',
  'description': 'Monthly series of wage and salary disbursements by industry (Government) from 2001 to 2025 (alternative source).',
  'start_date': '2001-01-31',
  'end_date': '9999-99-99',
  'last_updated': '9999',
  'notes': None}]

In [22]:
import requests
from interpolation_sw_2010.aws_manager.s3 import S3

def get_table_2_7A(api_key):
    """
    Downloads NIPA Table 2.7A (Wages and Salaries by Industry, Monthly).
    """
    url = "https://apps.bea.gov/api/data"
    params = {
        "UserID": api_key,
        "method": "GetData",
        "datasetname": "NIPA",
        # Table 2.7A is typically identified as "T20700" in the NIPA parameter list
        "TableName": "T20700",  
        "Frequency": "M",       # Monthly
        "Year": "ALL",          # Or specify e.g. "2020,2021" if you want fewer years
        "ResultFormat": "JSON"  # or "XML"
    }
    response = requests.get(url, params=params)
    response.raise_for_status()
    return response.json()

if __name__ == "__main__":
    api_key = json.loads(S3.get_secret("BEA-API-KEY"))["api_key"]
    data = get_table_2_7A(api_key)
    # Do something with the returned JSON
    print(data)

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'USERID', 'ParameterValue': 'D6C458B8-0AAF-484F-91AB-E298E5DC61D7'}, {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA'}, {'ParameterName': 'DATASETNAME', 'ParameterValue': 'NIPA'}, {'ParameterName': 'TABLENAME', 'ParameterValue': 'T20700'}, {'ParameterName': 'FREQUENCY', 'ParameterValue': 'M'}, {'ParameterName': 'YEAR', 'ParameterValue': 'ALL'}, {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'}, {'ParameterName': 'ShowMillions', 'ParameterValue': 'N'}]}, 'Error': {'APIErrorDescription': 'Error retrieving NIPA data.', 'APIErrorCode': '201', 'ErrorDetail': {'Description': 'Invalid TableName was requested.'}}}}

In [35]:

import beapy
bea = beapy.BEA(key=api_key)
res = bea.parameter_list("national")

KeyError: "no recognized dataset with name 'national'"

In [31]:
res.datasets

{'NIPA': 'Standard NIPA tables',
 'NIUnderlyingDetail': 'Standard NI underlying detail tables',
 'MNE': 'Multinational Enterprises',
 'FixedAssets': 'Standard Fixed Assets tables',
 'ITA': 'International Transactions Accounts',
 'IIP': 'International Investment Position',
 'InputOutput': 'Input-Output Data',
 'IntlServTrade': 'International Services Trade',
 'IntlServSTA': 'International Services Supplied Through Affiliates',
 'GDPbyIndustry': 'GDP by Industry',
 'Regional': 'Regional data sets',
 'UnderlyingGDPbyIndustry': 'Underlying GDP by Industry',
 'APIDatasetMetaData': 'Metadata about other API datasets'}

In [37]:
res = bea.data('underlying', tablename='u70205s', frequency='m', year=['2015', '2016'])
res.data

,ALLO03,AUTO35,AUTO40,BEACPT,BEASMR,CHG03,CHG04,CHG05,CHG07,CIMPS,...,T4,TEMD,TEMF,TEMG,TEMH,UPR00,UPR01,UPR02,UPR03,UPR05
,,,,,,,,,,,,,,,,,,,,,
2015M01,45.83,3726.4,3542.2,4.271,355.9,-3.9,-5.9,-8.1,1.7,107.6,...,30.7,9.520,7.702,1.382,0.435,25276.0,24153.0,28471.0,26743.0,24139.0
2015M02,46.03,3619.7,3481.4,3.847,320.6,-9.9,-7.9,-8.4,-1.3,106.4,...,31.3,9.677,7.759,1.488,0.430,25418.0,24185.0,28797.0,26946.0,24214.0
2015M03,45.77,3924.7,3740.5,4.247,353.9,10.4,10.4,11.5,24.4,112.0,...,38.0,10.112,8.023,1.652,0.436,25437.0,24083.0,29038.0,26982.0,24199.0
2015M04,44.96,3866.2,3537.8,4.247,353.9,0.0,-0.3,0.5,-5.6,107.9,...,36.2,10.177,8.028,1.705,0.444,25238.0,24086.0,28502.0,26641.0,24068.0
2015M05,44.21,4059.2,3579.7,4.488,374.0,5.7,5.9,4.7,-1.9,114.5,...,37.1,10.181,8.046,1.694,0.440,25195.0,24219.0,28085.0,26491.0,24070.0
2015M06,45.05,3940.7,3612.7,4.086,340.5,-9.0,-9.1,-8.7,-0.2,106.8,...,43.5,10.215,7.935,1.791,0.489,25058.0,24150.0,27690.0,26433.0,23941.0
2015M07,43.19,4110.8,3460.2,4.741,395.1,16.0,16.3,10.7,-16.5,111.6,...,40.6,10.622,8.294,1.838,0.491,25066.0,24175.0,27831.0,26279.0,24044.0
2015M08,45.09,3958.2,3641.9,4.177,348.1,-11.9,-12.1,-5.6,15.6,108.7,...,39.0,10.665,8.317,1.897,0.451,25168.0,23974.0,28716.0,26583.0,24035.0
2015M09,43.85,3954.2,3442.5,4.126,343.8,-1.2,-1.3,-2.7,0.8,110.4,...,37.5,10.746,8.465,1.833,0.447,25148.0,24112.0,28188.0,26470.0,24094.0
2015M10,43.09,4036.8,3389.7,4.073,339.4,-1.3,-1.9,1.9,5.4,100.6,...,38.9,10.699,8.225,2.022,0.452,25098.0,24173.0,27901.0,26339.0,24110.0
2015M11,44.08,3856.9,3390.0,3.817,318.1,-6.3,-5.2,-5.0,-17.8,112.3,...,35.3,10.926,8.420,2.055,0.451,25018.0,23972.0,28123.0,26345.0,23986.0
2015M12,44.33,3683.0,3272.8,3.823,318.6,0.2,-0.1,3.4,-10.9,114.2,...,41.1,10.402,7.954,2.026,0.422,25213.0,24128.0,28519.0,26571.0,24208.0
2016M01,41.90,3941.2,3123.2,4.007,333.9,4.8,4.8,4.6,10.7,107.8,...,31.4,10.869,8.453,1.972,0.444,25365.0,24658.0,27575.0,26483.0,24448.0
2016M02,42.40,3897.5,3163.5,3.965,330.4,-1.0,-1.1,-1.9,13.2,108.5,...,33.1,10.908,8.486,1.966,0.456,25073.0,24339.0,27310.0,26226.0,24158.0
2016M03,42.90,3660.2,3049.4,3.936,328.0,-0.7,-0.5,0.8,1.3,110.9,...,40.4,10.429,8.036,1.928,0.465,25088.0,24425.0,27013.0,26330.0,24218.0
2016M04,42.75,3679.2,3037.3,3.859,321.6,-2.0,-2.1,0.7,-3.8,115.1,...,34.4,10.830,8.350,2.058,0.422,24993.0,24542.0,26264.0,26175.0,24057.0
2016M05,43.28,3660.3,3098.5,3.738,311.5,-3.1,-3.0,-1.8,-5.2,101.4,...,34.0,10.809,8.140,2.262,0.406,25361.0,24435.0,28038.0,26619.0,24397.0
2016M06,44.00,3583.3,3134.3,4.153,346.1,11.1,10.8,10.9,16.8,100.8,...,35.7,10.898,8.276,2.221,0.402,25321.0,24163.0,28672.0,26636.0,24303.0
2016M07,43.90,3642.3,3165.3,3.954,329.5,-4.8,-4.6,-4.0,-34.8,111.7,...,30.1,11.200,8.569,2.266,0.366,25915.0,24503.0,30168.0,27222.0,24835.0
2016M08,42.79,3681.5,3036.3,3.989,332.4,0.9,0.6,-1.3,51.7,105.8,...,33.6,11.117,8.502,2.230,0.386,26094.0,24752.0,30144.0,27293.0,25040.0
2016M09,43.85,3668.1,3169.6,3.928,327.3,-1.5,-1.3,-0.9,-7.8,111.4,...,32.4,11.025,8.448,2.195,0.382,25756.0,24679.0,29024.0,27001.0,24699.0
2016M10,45.63,3371.9,3163.5,3.773,314.4,-3.9,-4.1,-4.7,-2.7,104.7,...,29.9,11.321,8.837,2.135,0.348,25661.0,24529.0,28981.0,27074.0,24550.0
2016M11,44.84,3458.9,3133.4,3.752,312.7,-0.6,0.2,-1.4,-5.5,108.0,...,29.8,11.095,8.468,2.246,0.380,25408.0,24363.0,28453.0,26750.0,24351.0
2016M12,45.46,3465.8,3230.2,3.574,297.8,-4.7,-4.8,-4.8,-17.6,91.8,...,36.4,11.454,8.670,2.414,0.371,25377.0,24364.0,28367.0,26783.0,24363.0

In [38]:
import beaapi

In [39]:
list_of_sets = beaapi.get_data_set_list(api_key)
display(list_of_sets)  # Note the last dataset is only for speeding up metadata queries

                DatasetName                                 DatasetDescription
0                      NIPA                               Standard NIPA tables
1        NIUnderlyingDetail               Standard NI underlying detail tables
2                       MNE                          Multinational Enterprises
3               FixedAssets                       Standard Fixed Assets tables
4                       ITA                International Transactions Accounts
5                       IIP                  International Investment Position
6               InputOutput                                  Input-Output Data
7             IntlServTrade                       International Services Trade
8               IntlServSTA  International Services Supplied Through Affili...
9             GDPbyIndustry                                    GDP by Industry
10                 Regional                                 Regional data sets
11  UnderlyingGDPbyIndustry                         Underlying GDP by Industry
12       APIDatasetMetaData                  Metadata about other API datasets

In [72]:
bea_tbl = beaapi.get_data(api_key, datasetname='NIPa', TableName='U50705AM1', Frequency='M', Year='ALL')
display(bea_tbl)

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,METRIC_NAME,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,U50705AM1,A015RC,1,Nonfarm,1967M01,Current Dollars,Level,6,22068,U50705AM1
1,U50705AM1,A015RC,1,Nonfarm,1967M02,Current Dollars,Level,6,9288,U50705AM1
2,U50705AM1,A015RC,1,Nonfarm,1967M03,Current Dollars,Level,6,9672,U50705AM1
3,U50705AM1,A015RC,1,Nonfarm,1967M04,Current Dollars,Level,6,7368,U50705AM1
4,U50705AM1,A015RC,1,Nonfarm,1967M05,Current Dollars,Level,6,5532,U50705AM1
...,...,...,...,...,...,...,...,...,...,...
7807,U50705AM1,A637RC,21,Nondurable goods,1997M08,Current Dollars,Level,6,4670,U50705AM1
7808,U50705AM1,A637RC,21,Nondurable goods,1997M09,Current Dollars,Level,6,4673,U50705AM1
7809,U50705AM1,A637RC,21,Nondurable goods,1997M10,Current Dollars,Level,6,2986,U50705AM1
7810,U50705AM1,A637RC,21,Nondurable goods,1997M11,Current Dollars,Level,6,3066,U50705AM1
7811,U50705AM1,A637RC,21,Nondurable goods,1997M12,Current Dollars,Level,6,3171,U50705AM1

In [74]:
bea_tbl.LineDescription.unique()

<StringArray>
[              'Nonfarm',         'Manufacturing',         'Durable goods',
      'Nondurable goods',       'Wholesale trade',    'Merchant wholesale',
 'Nonmerchant wholesale',          'Retail trade', 'Motor vehicle dealers',
                 'Other']
Length: 10, dtype: string